.showTask-enter-from{
    opacity: 0;
    width: 0;
}

.showTask-enter-to{
    opacity: 1;
    width: 378px;
}

.showTask-enter-active{
    transition: all 0.9s ease;
}

.showTask-leave-from{
    opacity: 1;
}

.showTask-leave-to{
    opacity: 0;
    height: 0;
    margin: -2px -30px -5px -30px;
}

.showTask-leave-active{
    transition: all 0.5s ease;
}

.deleteTaskGroup-leave-from{
    opacity: 1;   
}
.deleteTaskGroup-leave-to{
    opacity: 0;
}
.deleteTaskGroup-leave-active{
    transition: all 0.5s ease;
}